.wrapper{
  display: inline-block;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.content{
  width: 100%;
  font-size: 20px;
  padding: 0em 2.2em 2em 2.8em;
  color: #333;
}
.content a{
 display: block;
}
.content img{
  display: block;
  width: 100%;
  height: auto;
  outline: 15px solid rgba(156, 156, 156, 0);
 outline-offset: -15px;
 transition: .3s;
}
.content span{
  margin: 1.5em 0;
  display: block;
}
.content h2{
  font-family: 'Myriad Pro';
  font-weight: 600;
  font-size: 2em;
}
.content h3{
  font-size: 1.7em;
}
@media (max-width: 780px){
h3.long_h3{
  font-size: 1.2em;
}
.content h2{
  margin: 0.5em 0 0.5em;
}
.art_item{
  font-size: 0.8em;
}
.content img{
  display: block;
  width: 100%;
  height: auto;
  outline: 5px solid rgba(156, 156, 156, 0);
 outline-offset: -5px;
 transition: .3s;
}
.visible_h3{
  display: none;
}
.hiden_h3{
  display: block;
}
}
@media (max-width: 500px){
  .art_item{
    font-size: 0.65em;
  }
  .nav_art {
    margin: 0.5em 0 0 0;
    font-size: 0.65em;
}
.content {
  width: 100%;
  font-size: 20px;
  padding: 0em 1em 1.5em 1em;
  color: #333;
}
}