@media (max-width: 1790px){
  .services{
    font-size: 0.8em;
  }
}
@media (max-width: 1470px){
  .services{
    font-size: 0.7em;
  }
  .services h1{
    line-height: 50px;
  }
}
@media (max-width: 1400px){
  .services{
    font-size: 0.6em;
  }
  .services h1{
    line-height: 40px;
  }
  .lnr-chevron-right-circle:before,
  .lnr-chevron-left-circle:before{
    display: none;
  }
  .slider_img_inner{
    font-size: 0.7em;
  }
}
@media (max-width: 1600px){
  #advant.flex{
    font-size: 0.8em;
  }
}
@media (max-width: 1340px){
  .slider_best{
    font-size: 0.85em;
  }
  #advant.flex{
    font-size: 0.7em;
  }
  .description{
    padding-right: 10px;
  }
}
@media (max-width: 1340px){
  .sale{
    font-size: 0.8em;
  }
  .logo span{
    display: none;
  }
  .slider_news{
    font-size: 0.85em;
  }
  .brands{
    height: 145px;
  }
}
@media (max-width: 1140px){
  .logo_panel_inner,
   .slider_img_inner,
   .slider_best,
   {
     width: 90%;
   }
   .brands{
     width: 100%;
   }
   .sale,
   .slider_news,
   .advantages{
      width: 95%;
   }
   .services{
     width: 100%;
   }
   .news_item > h3,.btn_news{
      margin-left: 40px;
      margin-right: 40px;
    }
    .news_item > span{
      display: block;
      margin-left: 40px;
      margin-right: 40px;
    }
    .slider_news > h1{
      margin-bottom: 50px;
    }
}
@media (max-width: 890px){
  .phone_and_btn{
    display: none;
  }
  .logo_panel_inner{
    height: 0;
  }
  .logo{
    z-index: 999;
    position: absolute;
    top: 7px;
    left: 30px;
  }
  .img_logo{
    background-image: url(../img/logo_horizontal.png);
    width: 300px;
  }
  nav{
    height: 83px;
  }
  .toggle-menu{
    display: block;
  }
  .nav_inner{
    display: none;
  }
  nav.flex{
    justify-content: flex-end;
  }
  .menu-mobile{
    display: block;
  }
}
@media (max-width: 940px){
  .slider_img_inner{
    font-size: 0.5em;
  }
  .slider_img_inner2{
    width: 80%;
  }
  .btn_slider{
    font-size: 0.8em;
  }
  .brands_inner{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 120px 120px;
      column-gap: 50px;
      grid-template-areas: 
      "bre1 bre2 bre3"
      "bre4 bre5 bre6";
  }
  .brands{
 
    height: 350px;
  }
}
@media (max-width: 660px){
 
  /* .slick-dots li{
    display: none;
  } */
  .services_container{
    padding: 20px;
  } 
  .services span{
    font-size: 2.2em;
  }
}
@media (max-width: 500px){
  .slider_img_inner2{
    width: 90%;
  }
  .slider_img_inner{
    font-size: 0.3em;
  }
  .slide_img1 {
  background-position: 90%;
  }
  .btn_slider{
    margin-top: 10px;
    font-size: 1.2em;
    padding: 8px 15px;
  }
  .slider_img_inner h2 {
  margin-top: 5px;
  }
    .slick-dots li {
      margin: 0 3px;
  }
  .slick-dots li button{
    height: 6px;
    width: 6px;
  }
  .slick-dots li button:before{
    left: 5%;
    top: 5%;
  }
  .slick-dots li button:hover:before{
    width: 6px;
    height: 6px;
    
    top: -3px;
    left: -3px;
  }
  .slick-dots li.slick-active button{
    height: 6px;
    width: 6px;
  }
  .slick-dots li.slick-active button:before{
    width: 6px;
    height: 6px;
    margin: -3px;
  }
  .slick-dots li.slick-active button:hover:before{
  top: 0px;
  left: 0px;
  }
  .slick-dots {
  bottom: 5%;
  }
}
@media (max-width: 860px){
  .services{
    font-size: 0.5em;
  }
  .services h1{
    margin-bottom: 10px;
    line-height: 30px;
  }
}
@media (max-width: 540px){
  .services{
    grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas: 
  "box1"
  "box3"
  "box4"
  "box2";
  font-size: 0.7em;
  }
  .services h1{
    line-height: 50px;
  }
  .services_container{
    padding: 30px;
  } 
  .services span{
    font-size: 2.8em;
  }
}
@media (max-width: 540px){
  .services{
    font-size: 0.55em;
  }
  .services h1{
    line-height: 35px;
  }
}
@media (max-width: 740px){
  .advantages{
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
  "list1 list2"
  "list3 list4"
  "list5 list6";
  }
  #advant h1{
    padding: 25px 0 30px 0;
  }
}
/* @media (max-width: 600px){
  .advantages{
    font-size: 0.8em;
  }
} */
@media (max-width: 700px){
    .brands{
      padding: 20px 30px;
      height: 270px;
    }
    .sale{
      font-size: 0.4em;
    }
}

@media (max-width: 480px){
  .img_logo{
    width: 250px;
    position: absolute;
    left: 2px;
    top: 10px;
  }
}
@media (max-width: 320px){
  .img_logo{
    width: 200px;
    position: absolute;
    left: -10px;
    top: 15px;
  }
}
@media (max-width: 460px){
  #advant h1 {  
    font-size: 2.5em;
  }
  .line-main {
    width: 85%;
    margin: 25px auto 10px; 
}
.line2{
  margin-top: 30px;
}
  .slider_best h1{
    font-size: 2.5em;
    /* margin-top: 70px; */
  }
  .slider_best.flex{
    align-content: flex-start;
    justify-content: flex-start;
  }
  .arrows{
    top: 25px;
    left: 7%;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  /* .line-main{
    margin: 0px  auto 0px;
  } */
  .color2{
    margin-top: 10px;
  }
  .slider_news > h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.8em;
  }
  #news.arrows{
    top: 25px;
  }
  .news_item > .img_best{
    height: 180px;
  }
  .news_item > h3, .btn_news{
    margin-right: 0;
    margin-left: 0;
  }
  .news_item > span{
    margin-right: 0;
    margin-left: 0;
  }
  .footer{
    padding-top: 3em;
  }
  .best_margin {
    margin-bottom: 40px;
}
}
@media (max-width: 366px){
  .advant-item{
    font-size: 2em;
  }
  .img_logo {
    width: 210px;
  }
  .btn_slider{
    margin-top: 5px;
    
  }
  .slider_img_inner h2 {
  margin-top: 2px;
  }
  .slider_img_inner{
    font-size: 0.3em;
  }
}
@media (max-width: 610px){
  .menu-mobile{
    font-size: 2em;
  }
}
@media (max-width: 425px){
  .drop-menu a{
    padding: 0 20px 0 0;
  }
}
@media (max-width: 340px){
  .services span {
    font-size: 2.4em;
}
}
@media (max-width: 780px){
  .slider_img_inner{
    font-size: 0.6em;
  }
  .slider_wrap{
    padding-top: 35%;
  }
  .slide_img1{
    padding-top: 35%;
  }
  .slide_img2{
    padding-top: 35%;
  }
  .slide_img3{
    padding-top:35%;
  }
  .slide_img1{
    background-size: 40%;
  }
}
@media (max-width: 600px){
  .slider_wrap{
    padding-top: 50%;
  }
  .slide_img1{
    padding-top: 50%;
  }
  .slide_img2{
    padding-top: 50%;
  }
  .slide_img3{
    padding-top: 50%;
  }
}
@media (max-width: 1600px){
  .slider_img_inner h1 {
    font-size: 1.4em;
  }
  .slider_img_inner h2 {
  font-size: 1.1em;
  }
}
@media (max-width: 715px){
  .slider_img_inner{
    font-size: 0.5em;
  }
}
@media (max-width: 416px){
  .slider_img_inner{
    font-size: 0.4em;
  }
  .slide_img1 {
  background-size: 45%;
  }
  .btn_slider{
    margin-top: 5px;
    font-size: 1.1em;
    padding: 8px 15px;
  }
  .arrows{
   left: 0;
    width: 100%;
  }
  .arrows > div{
    margin: 0;
   }
   #ad-ar.arrows{
    width: 90%;
    margin: 0 auto;
   }
   #news.arrows{
     left: 7%;
    width: 80%;
    margin: 0 auto;
   }
}
  @media (max-width: 340px){
    .slider_img_inner{
      font-size: 0.35em;
    }
    .btn_slider{
      margin-top: 5px;
      font-size: 1.2em;
      padding: 5px 12px;
    }
  }
  @media (max-width: 500px){
    .brands{
      height: auto;
    }
    .hide-brand{
      display: none !important;
    }
    .brands{
      margin: 0 auto;
      padding: 0;
    }
    .brands-slider{
      display: block !important;
     }
    #arrows-br.arrows{
      top: 50px;
      left: 0;
      width: 88%;
      display: flex;
      justify-content: space-between; 
      margin: 0 auto;
      z-index: 9999;
    }
    #arrows-br.arrows > div {
      margin-left: 0;
  }
  .flex.brands-cont{
    margin: 20px 0 !important;
  }
  }
  @media (max-width: 460px){
    .hide{
      display: none;
    }
    .flex.adv_mob{
      display: block;
    }
    .slider_best .slider_best_items{
      font-size: 1.3em;
    }
  }