/* Меню */
@media (max-width: 1350px){
  .menu-left-wrapper{
    min-width: 350px;
  }
  .menu-left{
  font-size: 1.5em;
  }
  .menu-left li ul li a {
    padding-left: 30px;
  }
}
@media (max-width: 1320px){
  .menu-left-wrapper{
    min-width: 300px;
  }
  .menu-left{
  font-size: 1.3em;
  }
}
@media (max-width: 1320px){
  .menu-left-wrapper{
    min-width: 250px;
  }
  .menu-left li a, .menu-left li span{
    padding: 15px 50px 15px 20px;
  }
}
@media (max-width: 890px){
  .menu-left{
  margin: 0;
  top: 0;
  }
}
@media (max-width: 760px){
.menu-left-wrapper{
  display: none;
}
.menu-left-mob-btn{
display: block;
}
}
@media (max-width: 460px){
.menu-left-mob-btn{
  width: 33px;
  height: 41px;
}
}
/* Контент */
@media (max-width: 1320px){
  .content{
    font-size: 1.5em;
  }
}
@media (max-width: 460px){
  .content{
    font-size: 1.2em;
  }
  .content h1{
    font-size: 1.5em;
  }
  .content > h1#h1-main{
    font-size: 1.8em;
  }
}