.wrapper{
  display: inline-block;
  width: 100%;
  display: flex;
}
.txt{
  font-size: 20px;
  background-color: rgb(27, 27, 27);
}
/* MENU-LEFT */
.menu-left-wrapper{
  position: relative;
  min-width: 450px;
  background-color: rgb(71, 71, 71);
}
.menu-left{
  position: sticky;
  top: 30px;
  left: 0;
  margin-top: 2.5em;
  margin-bottom: 10em;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-size: 1.8em;
}
.menu-left ul{
  margin: 0px;
  padding: 0px;
}
  .menu-left a,.menu-left span{
    display: block; 
  }
.menu-left li {
  cursor: pointer;
  position: relative;
}
.menu-left li a, .menu-left li span{
  border-top: rgb(133, 133, 133) solid 1px;
  color: white;
  padding: 15px 10px 15px 20px;
}
.borderbotom{
  border-bottom: rgb(133, 133, 133) solid 1px;
}
.menu-left li a:hover,.menu-left li span:hover{
  background: #333;
}
.menu-left li ul li a{
  background: rgb(228, 228, 228);
  color: #000;
  padding-left: 60px;
}
.menu-left li ul li a:hover{
  background: rgb(204, 204, 204);
}
.menu-left i#first_arrow.lnr-chevron-right{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 0.8em;
  transform: rotate(0deg);
  transition: .5s;
  
}
.menu-left i#first_arrow.lnr-chevron-right.active{
  transform: rotate(90deg);
}
.menu-left i#second_arrow.lnr-chevron-right{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 0.8em;
  transform: rotate(0deg);
  transition: .3s;
  
}
.menu-left i#second_arrow.lnr-chevron-right.active{
  transform: rotate(90deg);
}
/* мобильное меню */
.menu-left-mob-btn{
  background-image: url(../img/arrow-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 50px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  cursor: pointer;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 110px;
  opacity: 0.8;
  display: none;
}
.menu-left-mob{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin-top: 2.5em;
  margin-bottom: 10em;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-size: 1.8em;
  background-color: rgb(71, 71, 71);
}
.menu-left-mob ul{
  margin: 0px;
  padding: 0px;
}
  .menu-left a,.menu-left span{
    display: block; 
  }
.menu-left-mob li {
  cursor: pointer;
  position: relative;
}
.menu-left-mob li a, .menu-left-mob li span{
  border-top: rgb(133, 133, 133) solid 1px;
  color: white;
  padding: 15px 10px 15px 20px;
}
.borderbotom{
  border-bottom: rgb(133, 133, 133) solid 1px;
}
.menu-left-mob li a:hover,.menu-left-mob li span:hover{
  background: #333;
}
.menu-left-mob li ul li a{
  background: rgb(228, 228, 228);
  color: #000;
  padding-left: 60px;
}
.menu-left-mob li ul li a:hover{
  background: rgb(204, 204, 204);
}
.menu-left-mob i#first_arrow.lnr-chevron-right{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 0.8em;
  transform: rotate(0deg);
  transition: .5s;
  
}
.menu-left-mob i#first_arrow.lnr-chevron-right.active{
  transform: rotate(90deg);
}
.menu-left-mob i#second_arrow.lnr-chevron-right{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 0.8em;
  transform: rotate(0deg);
  transition: .3s;
  
}
.menu-left-mob i#second_arrow.lnr-chevron-right.active{
  transform: rotate(90deg);
}
/* конец меню */
.content{
  width: 100%;
  background-color: #ebebeb;
  font-size: 20px;
  padding: 0.5em 2em 2em 3em;
}
.content h1{
  color: #333;
  font-family: 'Raleway';
  font-weight: 800;
}
.content p{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.content ul, .content li{
  list-style-type: disc;
}
.content > h1#h1-main{
  font-size: 2.2em;
  padding-bottom: 0.6em;
}